<!DOCTYPE html>
<html>
<head>
    <title>Создание задачи - Система управления задачами</title>
</head>
<body>
    <h1>Создание задачи</h1>
    <form method="post">
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" placeholder="{{ titleplace }}" required>
        <br>
        <label for="description">Описание:</label>
        <textarea id="description" name="description"></textarea>
        <br>
        <input type="submit" value="Создать">
    </form>
</body>
</html>